<!DOCTYPE html>
html(lang="en")
  head
    block head
      meta(charset="UTF-8")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      meta(http-equiv="X-UA-Compatible", content="ie=edge")
      link(rel="author", href=`${ABSPATH}humans.txt`)
      block favicons
        link(rel="icon", type="image/png", sizes="32x32", href=`${ABSPATH}favicon-32x32.png`)
        link(rel="icon", type="image/png", sizes="16x16", href=`${ABSPATH}favicon-16x16.png`)
        link(rel="icon", type="image/x-icon", href=`${ABSPATH}favicon.ico`)
      title
        block title
          | Document
      if (IS_PROD)
        script(
          async, defer,
          data-website-id="dc9bc9e9-563f-451b-82b9-2fe74412aa78",
          src="https://trk.simbo.de/umami.js"
        )
  body
    block body
